/*  style for admin 
 *  author: yusuf
 *  website: samarindaweb.com
*/

.navbar-nav > .messages-menu > .dropdown-menu.message_notif > li .menu > li > a > h4 {
    margin: 0 0 0 0;
}
.notif_name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}
.navbar-nav > .messages-menu > .dropdown-menu.message_notif > li .menu > li > a > p {
    margin: 0 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}
.optionChild {
    padding-left: 30px;
}
.optionChildtwo {
	padding-left: 60px;
}
.optionChildthree {
	padding-left: 90px;
}
select option:disabled {
	color: #C6ACAC;
}
.optionOne {
	padding-left: 15px;
	color: #3c8dbc;
}
.optionTwo {
	padding-left: 30px;
	color: #3c8dbc;
}
.optionThree {
	padding-left: 45px;
	color: #3c8dbc;
}
table td a {
	margin-right: 10px;
}
.category {
	color: #3c8dbc;
}
.draft {
    color: red;
}
.publish {
    color: green;
}
@media(min-width: 768px) {
	.main-input {
		height: 1100px;
	}
}
	
.keterangan {
	margin-top: 10px;
}
.keterangan i {
	margin-right: 5px;
}
.delete {
	color: #a00;
}
.kategori .box-body {
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
.kategori ul li {
	list-style-type: none;
}	
.modal .modal-body iframe {
	width: 100%;
	height: 400px;
}
.hidden-label {
	display: none;
}